.label {
    --fill: 0%;
    @apply relative text-base px-2 rounded-lg shadow-md bg-gray-300 text-white opacity-50;
    transition: opacity ease .5s;
    span.black {
        @apply hidden;
    }
    &.active {
        @apply opacity-100;
        transition: transform .1s linear, background .1s linear;
        background: linear-gradient(to right, rgb(248, 113, 113) var(--fill), #fff var(--fill));
        &#labelShort {
            background: linear-gradient(to right, #10B981 var(--fill), #fff var(--fill));
        }
        &#labelLong {
            background: linear-gradient(to right, #3B82F6 var(--fill), #fff var(--fill));
        }
        span {
            @apply w-full flex items-center justify-center;
            &.white {
                @apply text-white;
            }
            &.black {
                @apply text-gray-400 absolute flex items-center justify-center left-0 right-0 top-0 bottom-0;
                clip-path: inset(0 0 0 var(--fill));
            }
        }
    }
    &.completed {
        @apply bg-red-400 border-red-500 opacity-50;
        &#labelShort {
            @apply bg-green-400 border-green-500;
        }
        &#labelLong {
            @apply bg-blue-400 border-blue-500;
        }
    }    
}