@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&display=swap');

html, body {
    @apply w-screen h-screen flex justify-center items-center;
    font-family: 'Poppins';
}

.timer {
    --rotation: 0deg;
    --border-size: 10px;
    --dot-size: 15px;

    @apply relative flex items-center justify-center w-40 h-40;
    .pie {
        @apply absolute rounded-full shadow w-full h-full;
        &.shadow {
            @apply bg-red-200;
        }
        &.active {
            background: conic-gradient(#F87171 var(--rotation), transparent var(--rotation) 360deg);
        }
    }

    .inner {
        width: calc(100% - var(--border-size));
        height: calc(100% - var(--border-size));
        @apply absolute rounded-full bg-white flex flex-wrap flex-row items-stretch;
        span {
            @apply flex justify-center;
            flex: 0 0 100%;
        }
        span:first-child {
            @apply items-end text-2xl;
        }
    }

    .marker {
        transition: transform ease .1s;
        transform: rotate(var(--rotation));
        @apply relative w-full h-full z-10;
        .dot {
            left: calc(50% - (var(--dot-size)/2));
            top: calc( (var(--dot-size)/3) * -1 );
            width: var(--dot-size);
            height: var(--dot-size);
            @apply absolute rounded-full bg-red-400 border-2 border-red-200;
        }
    }
}