@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&display=swap');

html, body {
    @apply w-screen h-screen flex justify-center items-center;
    font-family: 'Poppins';
}

.timer {
    --rotation: 0deg;

    height: 100px;
    width: 100px;
    @apply relative flex items-center justify-center;
    .pie {
        @apply absolute rounded-full shadow w-full h-full;
        &.shadow {
            @apply bg-red-200;
        }
        &.active {
            background: conic-gradient(#F87171 var(--rotation), transparent var(--rotation) 360deg);
        }
    }

    .inner {
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        @apply absolute rounded-full bg-white flex items-center justify-center;
    }

    .marker {
        z-index: 10;
        transform: rotate(var(--rotation));
        @apply relative w-full h-full;
        .dot {
            left: calc(50% - 7.5px);
            top: -5px;
            width: 15px;
            height: 15px;
            @apply absolute rounded-full bg-red-400 border-2 border-red-200;
        }
    }
}