<div class="task-container" x-data="{}">
    <div class="w-full mb-2 text-center">
        <h1 class="text-2xl">Tasks</h1>
    </div>

    <div class="flex gap-2 justify-center" x-if="false">
        <div class="w-1/3 p-4 border border-gray-100 shadow rounded flex-grow">
        </div>
        <div class="w-1/3 p-4 border border-gray-100 shadow rounded flex-grow">
        </div>
        <div class="w-1/3 p-4 border border-gray-100 shadow rounded flex-grow">
        </div>
    </div>
</div>